page-productbase {

}
ion-item {
background-color: rgba(40,40,40,1) !important;
}
ion-avatar{
  // background-color: #000 !important;
}
.item-profile .item-inner{
  height: 150px;
  text-align: center;
  // border-bottom: 1px solid #dedede;
  border-bottom: none !important;

}
.item-avatar  img:first-child {
  max-width: 100px;
  max-height: 100px;
  border: 6px solid white;
    border-radius: 50%;
}
// .menu-inner{
//   background-color: #000;
// }
.side_menu_button_menu .menu-inner {
  background-color: #000 !important;

}
ion-label{
  color: #eee!important;
}

.side_menu_button {
background-color: rgba(40,40,40,1) !important;
height: 4.6rem !important;
text-transform: none !important;


}
.side_menu_button .button-inner{
justify-content: flex-start;

}
