<!--
  Generated template for the List page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>list</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
 -->









<style>
  ion-content {
    background: #eee;
  }/*

  ul {
    display: inline;
  }
  */
  /*.cards{
float:left;
max-width:50%;
max-height: 50%;
  }*/
  /*
ion-thumbnail,ion-thumbanil>img{
  max-height:180px;min-height:180px;
}*/
</style>
<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header> -->


<ion-content>
  <!-- <ion-scroll direction="x" class="wide-as-needed"> -->
  <ion-navbar color="primary">
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
   <button ion-button>
     <!-- <ion-icon name="cart">{{cartitem}}</ion-icon> -->

       <ion-icon ios="ios-cart" md="md-cart">    {{cartitem}} Items</ion-icon>
   </button>
  </ion-buttons>
  </ion-navbar>


<div *ngFor="let product of products" >
  <ion-card (click)='viewProduct(product)'>

    <ion-item class="card">
      <ion-thumbnail item-left>
        <img [src]='product.product_images' style="max-width: 10rem !important;"/>
      </ion-thumbnail>
      <p style="font-size:1.2em;"> {{product.name}}</p>
      <p style="font-size:0.7em;"> {{product.producer}}</p>
      <p color="danger">Rs.{{product.cost}}
      <ion-icon *ngIf="product.rating>=1" color='danger' name="md-star"></ion-icon>
      <ion-icon *ngIf="product.rating>=2" color='danger' name="md-star"></ion-icon>
      <ion-icon *ngIf="product.rating>=3" color='danger' name="md-star"></ion-icon>
      <ion-icon *ngIf="product.rating>=4" color='danger' name="md-star"></ion-icon>
      <ion-icon *ngIf="product.rating>=5" color='danger' name="md-star"></ion-icon>
      <ion-icon *ngIf="product.rating%1!=0" color='danger' name="md-star-half"></ion-icon>
      <ion-icon *ngIf="product.rating==0" color='danger' name="md-star-outline"></ion-icon>
      <ion-icon *ngIf="product.rating<=1" color='danger' name="md-star-outline"></ion-icon>
      <ion-icon *ngIf="product.rating<=2" color='danger' name="md-star-outline"></ion-icon>
      <ion-icon *ngIf="product.rating<=3" color='danger' name="md-star-outline"></ion-icon>
      <ion-icon *ngIf="product.rating<=4" color='danger' name="md-star-outline"></ion-icon></p>

    </ion-item>


</ion-card>



</div>

<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content>


   </ion-infinite-scroll-content>
 </ion-infinite-scroll>
<!-- </ion-scroll> -->
</ion-content>
