page-product {

}
button{
  border: 0 !important;
}
ion-grid{
  background-color: #eee !important;
}

ion-slides{
  height: 33%;
  background-color: #eee;
}
ion-row{
  background-color:  #eee;
}
ion-col{
  background-color: #ea3a3a !important;
    border: 8px solid white;
}
