<!--
  Generated template for the Product page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>product</ion-title>
  </ion-navbar>

</ion-header>
 -->

 <!-- <ion-header>
   <ion-navbar>
     <button menuToggle>
       <ion-icon name="menu"></ion-icon>
     </button>
     <ion-title>Product</ion-title>
   </ion-navbar>
 </ion-header> -->
 <ion-content  class="card-background-page" >

   <!-- <ion-card-header> -->
     <ion-navbar>
       <button menuToggle>
         <ion-icon name="menu"></ion-icon>
       </button>
       <ion-title>Product</ion-title>
       <ion-buttons end>
      <button ion-button>
        <!-- <ion-icon name="cart">{{cartitem}}</ion-icon> -->

          <ion-icon ios="ios-cart" md="md-cart">    {{cartitem}} Items</ion-icon>
      </button>
    </ion-buttons>
     </ion-navbar>

     <ion-content class="card-background-page">

       <!-- <ion-card>
         <img src="img/card-saopaolo.png"/>
         <div class="card-title">São Paulo</div>
         <div class="card-subtitle">41 Listings</div>
       </ion-card> -->


  <!-- </ion-card-header> -->
<ion-card *ngFor="let cat1 of cat.data" (click)="pushProduct(cat1)">
<!-- {{catPid}} -->
<!-- <ion-card-header>{{cat1.name}}</ion-card-header> -->

   <img src="{{cat1.product_images}}"/>
   <!-- <div class="card-title">{{cat1.name}}</div> -->
   <button id="{{cat1.name}}" ion-item >
         <ion-icon name="cart" item-left ></ion-icon>
        {{cat1.name}}
       </button>



    <!-- <div class="card-title" *ngFor="let name of catName" >{{name}}
    <div class="card-title" *ngFor="let id of catPid" >{{id}}
    <div class="card-subtitle" *ngFor="let link of catLink" >{{link}}
    </div>
    </div>
    </div> -->
  </ion-card>
<ion-content>
